/* monapp/static/monapp/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ffc107;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.center-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.center-message p {
    font-size: 24px;
    color: #333;
}

.center-message a {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.center-message a:hover {
    background-color: #ffc107;
    color: #333;
}

/* Ajoutez ces styles pour la page de connexion spécifique */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #ffc107;
    color: #333;
}
